{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Тортики на заказ{% endblock %}

{% block css-file %}{% static 'main/css/main.css' %}{% endblock %}

{% block content %}



<div id="order-modal" class="modal hidden">
  <div class="modal-content">
    <span class="close-btn">&times;</span>
    <button class="choice-btn" onclick="location.href='{% url 'custom' %}'">Создать свой торт</button>
    <button class="choice-btn" onclick="location.href='{% url 'catalog' %}'">Выбрать готовый</button>
  </div>
</div>

<div class="hero">
  <div class="hero-content">
    <h1>Сделаем любой день слаще<br>— уникальные торты на заказ</h1>
    <p>Индивидуальный дизайн, натуральные ингредиенты</p>
    <button id="order-button" class="buy-button">Заказать</button>
  </div>
</div>



<div class="wrap">
  <h2>Что мы уже сделали</h2>
  <section class="catalog">
    <div class="card">
      <div class="card-content img1"></div>
      <div class="card-caption">Сникерс</div>
    </div>
    <div class="card">
      <div class="card-content img2"></div>
      <div class="card-caption">Клубника в сливках</div>
    </div>
    <div class="card">
      <div class="card-content img3"></div>
      <div class="card-caption">Малиновая фисташка</div>
    </div>
  </section>

  <section class="info" id="info-and-contacts">
    <div class="info-column">
      <div class="info-title info-title-left">Самовывоз</div>

      <div class="map-container">
        <iframe
          src="https://yandex.ru/map-widget/v1/?ll=30.227313%2C60.037607&z=16&spn=0.01%2C0.01&pt=30.227313,60.037607,pm2rdm"
          width="100%" height="100%" frameborder="0" allowfullscreen>
        </iframe>
      </div>
    </div>

    <div class="info-column">
      <div class="info-title info-title-right">Контакты</div>

      <div class="info-block">
        <div class="contact-details">
          <p><i class="fa-solid fa-phone"></i> +7 (993) 988-53-30</p>
          <p><i class="fa-brands fa-instagram"></i> @sweet_art</p>
          <p><i class="fa-solid fa-envelope"></i> sweet.art@gmail.com</p>
          <p>Пн–Пт 9:00–20:00<br>Сб–Вс 10:00–18:00</p>
        </div>
      </div>
    </div>
  </section>

</div>
{% endblock %}

{% block script-name %}{% static 'main/js/hidden.js' %}{% endblock %}