{% extends 'main/layout.html' %}
{% load static %}
{% load humanize %}
{% block title %}Каталог{% endblock %}

{% block css-file %}{% static 'main/css/main.css' %}{% endblock %}

{% block content %}
<div class="wrap">

        <div class="dropdown">
          <button class="dropbtn">По умолчанию <span class="arrow">▼</span></button>
          <div class="dropdown-content">
            <a href="#">Сначала дешевые</a>
            <a href="#">Сначала дорогие</a>
            <a href="#">Сначала популярные</a>
          </div>
        </div>

        {% if user.is_authenticated and user.profile.role == 'MA' %}
          <a id="secret-button" href="{% url 'cake_manage' %}">
            Редактировать карточки
          </a>
        {% endif %}


      <div class="catalog1">
        {% for el in cards %}
        <div class="card1" data-price="{{ el.price }}" data-popularity="97" data-cake-id="{{ el.id }}">

          <div class="card-img" style="background-image: url('{{ el.image.url }}')"></div>

          <h3>{{ el.name }}</h3>
          <p>{{ el.description }}</p>

          <div class="price">{{ el.price|floatformat:0|intcomma }} руб.</div>

          <div class="card-footer">
            <div class="quantity-wrapper hidden">
              <div class="first-but">
                <button class="decrement">−</button>
                <span class="quantity">1</span>
                <button class="increment">+</button>
              </div>
              <button class="cart-icon-button" onclick="window.location.href='{% url 'basket' %}'">
                <i class="fa-solid fa-cart-shopping"></i>
              </button>
            </div>
            {% if user.is_authenticated  %}
            <a href="{% url 'add_to_cart' el.id %}" class="add-btn add-to-cart"
               data-id="{{ el.id }}"
               data-name="{{ el.name }}"
               data-image="{{ el.image.url }}"
               data-price="{{ el.price }}">
               Добавить в корзину
            </a>
            {% else %}
            <a href="{% url 'login' %}" class="guest-btn add-to-cart">
                Добавить в корзину
            </a>
            {% endif %}

          </div>

        </div>
        {% endfor %}
      </div>

</div>

{% endblock %}

{% block script-name %}{% static 'main/js/basket-button.js' %}{% endblock %}

<script>
const dropdown = document.querySelector(".dropdown");
const dropbtn = dropdown.querySelector(".dropbtn");

dropbtn.addEventListener("click", (e) => {
  e.stopPropagation(); // чтобы клик по кнопке не закрыл сам dropdown
  dropdown.classList.toggle("open");
});

document.addEventListener("click", () => {
  dropdown.classList.remove("open"); // закрыть при клике вне
});
</script>