{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Ваш тортик{% endblock %}

{% block css-file %}{% static 'main/css/main.css' %}{% endblock %}

{% block content %}
<div class="wrap">

  <div class="cake-and-text">
    <div class="label">Вы выбрали:</div>

    <div class="candles clickable">
      <img src="{% static 'main/img/Vector.svg' %}" alt="Выбор дизайна">
      <img src="{% static 'main/img/Vector.svg' %}" alt="Выбор дизайна">
      <img src="{% static 'main/img/Vector.svg' %}" alt="Выбор дизайна">
    </div>

    <div class="text layer0 clickable" data-layer="design">Без дизайна</div>

    <div class="layer cake clickable" data-layer="cake">
      <img src="{% static 'main/img/boxes/choco-cake.png' %}" alt="Шоколадный корж">
    </div>
    <div class="text layer1 clickable" data-layer="cake">Шоколадный корж</div>

    <div class="layer cream clickable" data-layer="cream">
      <img src="{% static 'main/img/boxes/vanilla-muss.png' %}" alt="Ванильный мусс">
    </div>
    <div class="text layer2 clickable" data-layer="cream">Ванильный мусс</div>

    <div class="layer cake2 clickable" data-layer="cake2">
      <img src="{% static 'main/img/boxes/choco-cake.png' %}" alt="Шоколадный корж">
    </div>
    <div class="text layer3 clickable" data-layer="cake2">Шоколадный корж</div>

  </div>
  <!-- модальное для крема -->
  <div id="cream-modal" class="modal hidden">
    <div class="modal-content">
      <span class="close-btn">×</span>
      <h2>Выберите крем</h2>
      <div class="options-grid">
        <div class="option" data-text="Ягодный крем-чиз" data-class="berry">
          <img src="{% static 'main/img/rectangle/berry-cheese.png' %}" alt="Ягодный крем" />
          <p>Ягодный крем-чиз</p>
        </div>
        <div class="option" data-text="Меренга" data-class="meringue">
          <img src="{% static 'main/img/rectangle/meringue.png' %}" alt="Меренга" />
          <p>Меренга</p>
        </div>
        <div class="option" data-text="Маскарпоне с малиной" data-class="raspberry-cream">
          <img src="{% static 'main/img/rectangle/raspberries.png' %}" alt="Маскарпоне с малиной" />
          <p>Маскарпоне с малиной</p>
        </div>
        <div class="option" data-text="Ванильный мусс" data-class="vanilla-muss">
          <img src="{% static 'main/img/rectangle/vanila-cheese.png' %}" alt="Ванильный мусс" />
          <p>Ванильный мусс</p>
        </div>
        <div class="option" data-text="Шоколадный крем-чиз" data-class="choco-cream">
          <img src="{% static 'main/img/rectangle/choco-cheese.png' %}" alt="Шоколадный крем" />
          <p>Шоколадный крем-чиз</p>
        </div>
        <div class="option" data-text="Лимонный курд" data-class="lemon">
          <img src="{% static 'main/img/rectangle/lemon.png' %}" alt="Лимонный курд" />
          <p>Лимонный курд</p>
        </div>
      </div>
      <button id="confirm-layer-btn">Подтвердить</button>
    </div>
  </div>
  <!-- Модалка для первого коржа -->
  <div id="cake-modal" class="modal hidden">
    <div class="modal-content">
      <span class="close-btn">×</span>
      <h2>Выберите первый корж</h2>
      <div class="options-grid">
        <div class="option" data-text="Ванильный корж" data-class="vanilla-cake">
          <img src="{% static 'main/img/rectangle/vanila-and-coconut.png' %}" alt="Ванильный корж" />
          <p>Ванильный корж</p>
        </div>
        <div class="option" data-text="Шоколадный корж" data-class="choco-cake">
          <img src="{% static 'main/img/rectangle/choco-cake.png' %}" alt="Шоколадный корж" />
          <p>Шоколадный корж</p>
        </div>
        <div class="option" data-text="Медовик" data-class="honey-cake">
          <img src="{% static 'main/img/rectangle/honey.png' %}" alt="Медовик" />
          <p>Медовик</p>
        </div>
        <div class="option" data-text="Морковный корж" data-class="carrot-cake">
          <img src="{% static 'main/img/rectangle/carrot-cake.png' %}" alt="Морковный корж" />
          <p>Морковный корж</p>
        </div>
        <div class="option" data-text="Кокосовый корж" data-class="coconut-cake">
          <img src="{% static 'main/img/rectangle/vanila-and-coconut.png' %}" alt="Кокосовый корж" />
          <p>Кокосовый корж</p>
        </div>
        <div class="option" data-text="Красный бархат" data-class="red-cake">
          <img src="{% static 'main/img/rectangle/red-cake.png' %}" alt="Красный бархат" />
          <p>Красный бархат</p>
        </div>
      </div>
      <button id="confirm-layer-btn-cake1">Подтвердить</button>
    </div>
  </div>

  <!-- Модалка для второго коржа -->
  <div id="cake2-modal" class="modal hidden">
    <div class="modal-content">
      <span class="close-btn">×</span>
      <h2>Выберите второй корж</h2>
      <div class="options-grid">
        <div class="option" data-text="Ванильный корж" data-class="vanilla-cake">
          <img src="{% static 'main/img/rectangle/vanila-and-coconut.png' %}" alt="Ванильный корж" />
          <p>Ванильный корж</p>
        </div>
        <div class="option" data-text="Шоколадный корж" data-class="choco-cake">
          <img src="{% static 'main/img/rectangle/choco-cake.png' %}" alt="Шоколадный корж" />
          <p>Шоколадный корж</p>
        </div>
        <div class="option" data-text="Медовик" data-class="honey-cake">
          <img src="{% static 'main/img/rectangle/honey.png' %}" alt="Медовик" />
          <p>Медовик</p>
        </div>
        <div class="option" data-text="Морковный корж" data-class="carrot-cake">
          <img src="{% static 'main/img/rectangle/carrot-cake.png' %}" alt="Морковный корж" />
          <p>Морковный корж</p>
        </div>
        <div class="option" data-text="Кокосовый корж" data-class="coconut-cake">
          <img src="{% static 'main/img/rectangle/vanila-and-coconut.png' %}" alt="Кокосовый корж" />
          <p>Кокосовый корж</p>
        </div>
        <div class="option" data-text="Красный бархат" data-class="red-cake">
          <img src="{% static 'main/img/rectangle/red-cake.png' %}" alt="Красный бархат" />
          <p>Красный бархат</p>
        </div>
      </div>
      <button id="confirm-layer-btn-cake2">Подтвердить</button>
    </div>
  </div>

  <!-- Модальное окно выбора дизайна торта -->
  <div id="design-modal" class="modal hidden">
    <div class="modal-content">
      <span class="close-btn">×</span>
      <h2>Выберите дизайн торта</h2>
      <div class="options-grid">
        <div class="option" data-text="Без дизайна" data-class="none-design">
          <img src="{% static 'main/img/rectangle/none-design.png' %}" alt="Без дизайна">
          <p>Без дизайна</p>
        </div>
        <div class="option" data-text="Лёгкий дизайн" data-class="simple-design">
          <img src="{% static 'main/img/rectangle/simple-design.png' %}" alt="Лёгкий дизайн">
          <p>Лёгкий дизайн</p>
        </div>
        <div class="option" data-text="Сложный дизайн" data-class="hard-design">
          <img src="{% static 'main/img/rectangle/hard-design.png' %}" alt="Сложный дизайн">
          <p>Сложный дизайн</p>
        </div>
      </div>
      <button id="confirm-design-btn">Подтвердить</button>
    </div>
  </div>


  <div class="options">
    <div class="option-group">
      <h4>Пропитка</h4>
      <label><input type="radio" name="soaking">Сироп ванильный</label>
      <label><input type="radio" name="soaking">Сироп малиновый</label>
      <label><input type="radio" name="soaking">Кофейная</label>
      <label><input type="radio" name="soaking">Молочная</label>
      <label><input type="radio" name="soaking">Апельсиновая</label>
      <label><input type="radio" name="soaking" checked>Без пропитки</label>
    </div>

    <div class="option-group">
      <h4>Вес и размер</h4>
      <label><input type="radio" name="count" checked>Бенто 0,5-1 кг</label>
      <label><input type="radio" name="count">Небольшой 1-2 кг</label>
      <label><input type="radio" name="count">Средний 2-3 кг</label>
      <label><input type="radio" name="count">Большой 4+ кг</label>
    </div>

    <div class="option-group">
      <h4>Форма коржей</h4>
      <label><input type="radio" name="shape" checked>Круг</label>
      <label><input type="radio" name="shape">Квадрат</label>
      <label><input type="radio" name="shape">Цифра/буква</label>
      <label><input type="radio" name="shape">Сердце</label>
      <label><input type="radio" name="shape">Другое</label>
    </div>
  </div>

  <div class="com-and-pay">
    <div class="payment-card">
      <h1>Ваша корзина</h1>
      <div class="price-row">
        <span>Товары</span>
        <span class="goods-price">0 ₽</span>
      </div>
      <div class="price-row">
        <span>Скидка</span>
        <span class="discount-price">0 ₽</span>
      </div>
      <div class="price-row total">
        <span>Стоимость</span>
        <span class="total-price">0 ₽</span>
      </div>

      <button class="buy-button" id="buy-button-in-custom">Добавить в корзину</button>
    </div>
  </div>
</div>
<script>
  window.STATIC_URL = "{% static '' %}";
</script>


{% endblock %}

{% block script-name %}{% static 'main/js/custom.js' %}{% endblock %}